@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'UbuntuRegular';
    src: url('../css/fonts/Ubuntu-R-webfont.eot');
    src: url('../css/fonts/Ubuntu-R-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/Ubuntu-R-webfont.woff') format('woff'),
         url('../css/fonts/Ubuntu-R-webfont.ttf') format('truetype'),
         url('../css/fonts/Ubuntu-R-webfont.svg#UbuntuRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'UbuntuItalic';
    src: url('../css/fonts/Ubuntu-RI-webfont.eot');
    src: url('../css/fonts/Ubuntu-RI-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/Ubuntu-RI-webfont.woff') format('woff'),
         url('../css/fonts/Ubuntu-RI-webfont.ttf') format('truetype'),
         url('../css/fonts/Ubuntu-RI-webfont.svg#UbuntuItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'UbuntuBold';
    src: url('../css/fonts/Ubuntu-B-webfont.eot');
    src: url('../css/fonts/Ubuntu-B-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/Ubuntu-B-webfont.woff') format('woff'),
         url('../css/fonts/Ubuntu-B-webfont.ttf') format('truetype'),
         url('../css/fonts/Ubuntu-B-webfont.svg#UbuntuBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'UbuntuBoldItalic';
    src: url('../css/fonts/Ubuntu-BI-webfont.eot');
    src: url('../css/fonts/Ubuntu-BI-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/Ubuntu-BI-webfont.woff') format('woff'),
         url('../css/fonts/Ubuntu-BI-webfont.ttf') format('truetype'),
         url('../css/fonts/Ubuntu-BI-webfont.svg#UbuntuBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'UbuntuLight';
    src: url('../css/fonts/Ubuntu-L-webfont.eot');
    src: url('../css/fonts/Ubuntu-L-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/Ubuntu-L-webfont.woff') format('woff'),
         url('../css/fonts/Ubuntu-L-webfont.ttf') format('truetype'),
         url('../css/fonts/Ubuntu-L-webfont.svg#UbuntuLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'UbuntuLightItalic';
    src: url('../css/fonts/Ubuntu-LI-webfont.eot');
    src: url('../css/fonts/Ubuntu-LI-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/Ubuntu-LI-webfont.woff') format('woff'),
         url('../css/fonts/Ubuntu-LI-webfont.ttf') format('truetype'),
         url('../css/fonts/Ubuntu-LI-webfont.svg#UbuntuLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'UbuntuMedium';
    src: url('../css/fonts/../css/fonts/Ubuntu-M-webfont.eot');
    src: url('../css/fonts/Ubuntu-M-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/Ubuntu-M-webfont.woff') format('woff'),
         url('../css/fonts/Ubuntu-M-webfont.ttf') format('truetype'),
         url('../css/fonts/Ubuntu-M-webfont.svg#UbuntuMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'UbuntuMediumItalic';
    src: url('../css/fonts/Ubuntu-MI-webfont.eot');
    src: url('../css/fonts/Ubuntu-MI-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/Ubuntu-MI-webfont.woff') format('woff'),
         url('../css/fonts/Ubuntu-MI-webfont.ttf') format('truetype'),
         url('../css/fonts/Ubuntu-MI-webfont.svg#UbuntuMediumItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'UbuntuCondensedRegular';
    src: url('../css/fonts/Ubuntu-C-webfont.eot');
    src: url('../css/fonts/Ubuntu-C-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/Ubuntu-C-webfont.woff') format('woff'),
         url('../css/fonts/Ubuntu-C-webfont.ttf') format('truetype'),
         url('../css/fonts/Ubuntu-C-webfont.svg#UbuntuCondensedRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}



html,body{
 	font-family: 'UbuntuRegular';
	width:100%;
	height:100%;
	padding: 0px;
 

}


.topMenu{
	position:fixed;
	z-index:100;
	height: 53px;
	background-color: #FFF;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border:1px solid;
	border-color: gray;

	

}

.topMenu li {
	
	display:inline-block;	
	line-height:20px;
	margin-bottom:2px;
	list-style-type: none;
	text-align: center;	
	-webkit-transition: all .2s ease-in-out;	
	width:125px;
	padding:5px 5px;
	font-size:14px;
	color:#000;
}


.topMenu li a:link {
	font-size:14px;
	cursor:pointer;
	width:125px!important;
	color:#000;
}

.topMenu li a:hover {
	font-size:14px;
	cursor:pointer;
	width:125px!important;
	color:#ec732c;
}



.topMenu li a:active {
	font-size:14px;
	cursor:pointer;
	width:160px!important;
	color:gray;
	font-weight:bold;
}





.logoContainer{

	width: 419px;
	height: 106px;
	position: relative;
	top: 45px;
	margin:0 auto;

	
}
.slide{
	background-attachment: fixed;
	width:100%;
	height:100%;
	position: relative;
	box-shadow:inset 0px 10px 10px rgba(0,0,0,0.3);
}
.wrapper{
	width:960px;

	margin:0 auto;

}
.slideno{
	position:absolute;
	bottom:0px;
	left:0px;
	font-size:100px;
	font-weight:bold;
	color:rgba(255,255,255,0.3);
}
.button{
	display:block;
	width:50px;
	height:50px;
	position:absolute;
	bottom:0px;
	left:90%;
	background-color:#333333;
	background-image:url(../images/arrow.png);
}
.button:hover{
	background-color:#494949;
	cursor:pointer;
}

/******************************
 SLIDE 1 
*******************************/
.slide1{
	background-color:#7ea2d2;
	height: 800px;
	padding-top: 30px;

	
}
.q1 {

	width: 900px;
	position: relative;
	top: 45px;
	margin:0 auto;
	padding-bottom: 10px;

}

.q1 p {

	font-size: 30px;
	color: #FFF;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
	text-align: center;
}


.gayPics {

	width: 900px;
	position: relative;
	margin:0 auto;
}
.gayPics ul li {

	display: inline-block;
	margin-left:25px;
	padding-right: 50px;
}

.lineWall {

	height: 5px;
	width: 900px;
	background-color: #FFF;
	margin: 0 auto;
	top: -22px;
	z-index: 2;
	position: relative;
}

.orangeCircle {
	width: 110px;
	height: 110px;
	background: #ec732c;
	-moz-border-radius: 60px;
	-webkit-border-radius: 60px;
	border-radius: 60px;

	position: relative;
	z-index: 4;
	left: 135px;
	top: -25px;
}

.txtBoxHeader {

	width:525px;
	height:75px;
	-webkit-border-radius: 0px 10px 10px 0px;
	-moz-border-radius: 0px 10px 10px 0px;
	border-radius: 0px 10px 10px 0px;
	background-color:#FFFFFF;
	position: relative;
	z-index: 3;
	left: 165px;
	top: -120px;
	padding-left: 100px;
	padding-top: 2px;
	padding-bottom: 12px;
}

.txtBox p { 

	color: #FFF;
	

}
.q3 {

	position: relative;
	z-index: 7;
	top: 30px;
	margin: 0 auto;

	font-size: 20px;
	color: #FFF;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
	text-align: center;


}

.text3 {

	width:900px;
	height:75px;
	position: relative;
	z-index: 3;
	top: -200px;
	margin: 0 auto;

} 

.questionMark {

	width: 44px;
	height: 79px;
	z-index: 8;
	top: -205px;
	left: 730px;
	position: relative;

}


.text3 p {
	font-size: 25px;
	color: #FFF;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
	text-align: center;

}
/******************************
 SLIDE 2 
*******************************/
.slide2{
	background-color:#FFF;
	height: 750px;
	padding-top: 30px;
	
}

.circle1 {
	width: 50px;
	height: 50px;
	background: #ec732c;
	-moz-border-radius: 60px;
	-webkit-border-radius: 60px;
	border-radius: 60px;
	position: relative;
	top: 35px;


}

.number1 {

	color: #FFF;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
	font-size: 35px;
	position: relative;
	top:-45px;
	left: 15px;
	z-index:10;

}
.titleNumber1 {

	position: relative;
	top:-125px;
	left: 75px;
	z-index:10;
}

.titleNumber1 h2 {

	color: #ec732c;
	font-size: 40px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
	margin-bottom: -10px;
}

.titleNumber1 p {

	color: #000;
	font-size: 25px;
	
	
}

.sliderFeatures {

	top: -100px;
	position: relative;
	margin: 0 auto;

}


/******************************
 SLIDE 3 
*******************************/
.slide3{
	background-color:#ec732c;
	height: 800px;
	padding-top: 30px;
}

.circle2 {
	width: 50px;
	height: 50px;
	background: #000;
	-moz-border-radius: 60px;
	-webkit-border-radius: 60px;
	border-radius: 60px;
	position: relative;
	top: 35px;


}

.number2 {

	color: #FFF;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
	font-size: 35px;
	position: relative;
	top:-45px;
	left: 15px;
	z-index:10;

}
.titleNumber2 {

	position: relative;
	top:-125px;
	left: 75px;
	z-index:10;
}

.titleNumber2 h2 {

	color: #FFF;
	font-size: 40px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
	margin-bottom: -10px;
}

.titleNumber2 p {

	color: #000;
	font-size: 25px;
		
}


.iconsCircleTitles{

	position: relative;
	left: 35px;
	top: -120px;
}
.iconsCircleTitles ul li {

	display: inline-block;
	padding: 0 40px 75px 50px;
}

.iconsTitles{

	position: relative;
	left: 35px;
	top: -500px;
	z-index: 15;
	color: #FFF;
	font-size: 30px;
}
.iconsTitles ul li {

	display: inline-block;
	padding: 0 30px 260px 100px;

}

.videoTitle {

	margin-left: 40px;
}

.iconsRecBlack {

	position: relative;
	left: 35px;
	top: -1120px;
	z-index: 14;

}
.iconsRecBlack ul li {

	display: inline-block;
	padding: 0 30px 250px 90px;

}

.recBlackLogos {

	width: 140px;
	height: 40px;
	background-color: #000;
	position: relative;
	right: 10px;
	top: -2px;


}

.recBlackLanding {

	width: 250px;
	height: 40px;
	background-color: #000;
	position: relative;
	right: 30px;
	top: -2px;

}

.recBlackWebsites {

	width: 160px;
	height: 40px;
	background-color: #000;
	position: relative;
	right: 40px;
	top: -2px;

}

.recBlackArticles {

	width: 150px;
	height: 40px;
	background-color: #000;

}

.recBlackBrochure {

	width: 200px;
	height: 40px;
	background-color: #000;
	position: relative;
	right: 8px;
	

}

.recBlackVideo {

	width: 150px;
	height: 40px;
	background-color: #000;

}


/******************************
 SLIDE 4
*******************************/

.slide4{
background-color:#000;
height: 800px;
padding-top: 30px;

}

.circle4 {
	width: 50px;
	height: 50px;
	background: #FFF;
	-moz-border-radius: 60px;
	-webkit-border-radius: 60px;
	border-radius: 60px;
	position: relative;
	top: 35px;


}

.number4 {

	color: #ec732c;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
	font-size: 35px;
	position: relative;
	top:-45px;
	left: 15px;
	z-index:10;

}
.titleNumber4 {

	position: relative;
	top:-125px;
	left: 75px;
	z-index:10;
}

.titleNumber4 h2 {

	color: #ec732c;
	font-size: 40px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
	margin-bottom: -10px;
}

.titleNumber4 p {

	color: #FFF;
	font-size: 25px;

}

.keywords {

	width: 877px;
	height: 454px;
	position: relative;
	margin: 0 auto;
	top:-140px;
	left: 40px;
	
}

.seoSocial {

	position: relative;
	margin: 0 auto;
	top:-130px;
	left: 80px;

}


.seoSocial ul li {

	display: inline-block;
	padding-left: 40px;
}
/******************************
 SLIDE 5
*******************************/

.slide5{
	background-color:#FFF;
	height: 800px;
	padding-top: 30px;
	
}

.circle5 {
	width: 50px;
	height: 50px;
	background: #000;
	-moz-border-radius: 60px;
	-webkit-border-radius: 60px;
	border-radius: 60px;
	position: relative;
	top: 35px;


}

.number5 {

	color: #FFF;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
	font-size: 35px;
	position: relative;
	top:-45px;
	left: 15px;
	z-index:10;

}
.titleNumber5 {

	position: relative;
	top:-125px;
	left: 75px;
	z-index:10;
}

.titleNumber5 h2 {

	color: #000;
	font-size: 40px;
	text-shadow: 1px 1px 1px rgba(236, 115, 44, 1);
	margin-bottom: -10px;
}

.titleNumber5 p {

	color: #ec732c;
	font-size: 25px;
}

.subtitleNumber5 {

	color: #000;
	font-size: 25px;
	position: relative;
	top:-125px;
	left: 75px;
}


.partnerLogos ul li{

	display: inline-block;
	padding-right: 100px;
	padding-bottom: 35px;
	width: 200px;
	height: 100px;
	
	
	}

.partnerLogos {

	position: relative;
	top: -150px;
	left: 60px;
	
	}

/******************************
 SLIDE 6
*******************************/

.slide6{
	background-color:#7ea2d2;
	height: 750px;
	padding-top: 30px;
}

.circle6 {
	width: 50px;
	height: 50px;
	background: #000;
	-moz-border-radius: 60px;
	-webkit-border-radius: 60px;
	border-radius: 60px;
	position: relative;
	top: 35px;

}

.number6 {

	color: #ec732c;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
	font-size: 35px;
	position: relative;
	top:-45px;
	left: 15px;
	z-index:10;

}
.titleNumber6 {

	position: relative;
	top:-125px;
	left: 75px;
	z-index:10;
}

.titleNumber6 h2 {

	color: #FFF;
	font-size: 40px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
	margin-bottom: -10px;
}

.titleNumber6 p {

	color: #000;
	font-size: 25px;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 1);
}

.sliderEvents {

	top: -120px;
	position: relative;
	margin: 0 auto;

}

.socialEventsInfo {

	font-size: 18px;
	color: #000;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 1);
	top: -140px;
	position: relative;
	line-height: 20px;
	

}

/******************************
 SLIDE 7
*******************************/

.slide7{
	background-color:#000;
	height: 740px;
	padding-top: 30px;
	
}

.titleSlide7{

	color: #fff;
	font-size: 80px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
	text-align: center;
	position: relative;
	top: 30px;
	padding-bottom: 25px;
	
}


/* FORM START*/

div.firstColumn {

	width:550px;
	float: left;
	padding-bottom: 40px;
}


#contact-form {
	background-color:#F2F7F9;
	width:465px;
	padding:20px;
	border: 6px solid #8FB5C1;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	position:relative;
}

#contact-form h1 {
	font-size:42px;
}

#contact-form h2 {
	margin-bottom:15px;
	font-style:italic;
	font-weight:normal;
}

#contact-form input, 
#contact-form select, 
#contact-form textarea, 
#contact-form label {
	font-size:15px;
	margin-bottom:2px;
}

#contact-form input, 
#contact-form select, 
#contact-form textarea {
	width:450px;
	border: 1px solid #CEE1E8;
	margin-bottom:20px;
	padding:4px;
}

#contact-form input:focus, 
#contact-form select:focus, 
#contact-form textarea:focus {
	border: 1px solid #AFCDD8;
	background-color: #EBF2F4;
}

#contact-form textarea {
	height:100px;
	resize: none;
}

#contact-form label {
	display:block;
}

#contact-form .required {
	font-weight:bold;
	color:#F00;	
}

#contact-form #submit-button {
	width: 100px;
	background-color:#000;
	color:#FFF;
	border:none;
	display:block;
	float:right;
	margin-bottom:0px;
	margin-right:6px;
	background-color:#000;
	-moz-border-radius:8px;
}

#contact-form #submit-button:hover {
	background-color: #A6CFDD;
}

#contact-form #submit-button:active {
	position:relative;
	top:1px;
}

#contact-form #loading {
	width:32px;
	height:32px;
	background-image:url(../img/loading.gif);
	display:block;
	position:absolute;
	right:130px;
	bottom:16px;
	display:none;
}

#errors {
	border:solid 1px #E58E8E;
	padding:10px;
	margin:25px 0px;
	display:block;
	width:437px;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	background:#FFE6E6 url(../img/cancel_48.png) no-repeat 405px center;
	display:none;
}

#errors li {
	padding:2px;
	list-style:none;	
}

#errors li:before {
	content: ' - ';	
}

#errors #info {
	font-weight:bold;
}

#errors #info:before {
	content: '';	
}

#success {
	border:solid 1px #83D186;
	padding:25px 10px;
	margin:25px 0px;
	display:block;
	width:437px;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	background:#D3EDD3 url(../img/accepted_48.png) no-repeat 405px center;
	font-weight:bold;
	display:none;
}

#errors.visible, #success.visible {
	display:block;	
}

#req-field-desc {
	font-style:italic;
}

/* Remove box shadow firefox, chrome and opera put around required fields. It looks rubbish. */
input:required, textarea:required {
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	-o-box-shadow:none;
	box-shadow:none;
}

/* Normalize placeholder styles */

/* chrome, safari */
::-webkit-input-placeholder {
	color:#CCC;
	font-style:italic;
}

/* mozilla */
input:-moz-placeholder, textarea:-moz-placeholder {
	color:#CCC;
	font-style:italic;
}

/* ie (faux placeholder) */
input.placeholder-text, textarea.placeholder-text  { 
	color:#CCC;
	font-style:italic;
}




.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {

  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

/*  FORM END */

.columnTwo {
float: left;
width: 330px;
position: relative;
top: 70px;
left: 60px;


}

.moreInfo {

	width: 250px;
	text-align: left;
	
	

}

.moreInfoTitle {

	font-family: 'Ubuntu';
	font-size: 20px;
	border-bottom:1px solid #777;
	padding-bottom: 15px;
}




.moreInfoContent ul li {

	font-size: 16px;
	margin-bottom: 20px;
	text-align: left;
	list-style-type: none;
	color: #fff;

}

.moreInfoContent a:link { color: #FFF;}
.moreInfoContent a:hover { color: #888888;}
.moreInfoContent a:visited { color: #888888;}

.moreInfoTitle {

	font-family: 'Ubuntu';
	font-size: 20px;
	border-bottom:1px solid #777;
	padding-bottom: 15px;
	color: #fff;
}


.contactInfo {

	width: 250px;
	text-align: left;
	
	

}

.contactInfoTitle {

	font-family: 'Ubuntu';
	font-size: 20px;
	border-bottom:1px solid #777;
	padding-bottom: 15px;
	color: #fff;
}



.contactInfoContent ul li {

	font-size: 16px;
	margin-bottom: 20px;
	text-align: left;
	list-style-type: none;
	color: #FFF;


}


.moreInfoTitle {

	font-family: 'Ubuntu';
	font-size: 20px;
	border-bottom:1px solid #777;
	padding-bottom: 15px;
}


.contactInfoContent ul .phone {

	font-size: 40px;
	color: #ec732c;
}

.columnThree {

float: left;
width: 250px;
position: relative;
top: 60px;
left: 80px;
	

}

.slide7Container{

	width: 940px;
	margin: 0 auto;
}

.lastCol {

	margin-right:0 !important;
}
